<div class="row">
    <div class="col-sm-3" *ngFor="let ed of expData">
        <div class="card">
            <div class="box">
                <div class="img">
                    <img src="{{ed.logo}}">
                </div>
                <h2>{{ed.companyname}}<br><span>{{ed.designation}}</span></h2>
                <span class="pull-left">{{ed.fromdate}}</span>
                <span class="pull-right">{{ed.todate}}</span>
                <!-- <span>
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </span> -->
            </div>
        </div>
    </div>
</div>