<div class="row">
    <div class="col-sm-12" *ngFor="let pd of projectsData">
        <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">{{pd.projectname}}</h5>
                <p class="card-text">{{pd.desc}}</p>
                <p class="card-text">{{pd.desc1}}</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
</div>