<!-- <div class="layer1"></div>
<div class="layer2">    
</div>
<div class="circle">{{todayTime}}</div>
<div class="box">
    <a routerLink="/">
        Skills
    </a>
    <a routerLink="/cert">Certifications</a>
    <a routerLink="/exp">Experience</a>
    <a routerLink="/projects">Projects</a>
    <a routerLink="/personal">Personal</a>
</div> -->

<div class="container-fluid register">
    <div class="row">
        <div class="col-md-3 register-left">
            <!-- <img src="" alt=""/> -->
            <h3>Ravindra Kasukurthi</h3>
            <p>12.9 Years of experience in Frontend Technical Lead.</p>
            <a routerLink="/">
                Skills
            </a>
            <a routerLink="/cert">Certifications</a>
            <a routerLink="/exp">Experience</a>
            <a routerLink="/projects">Projects</a>
            <a routerLink="/personal">Personal</a>
        </div>
        <div class="col-md-9 register-right">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
